* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

button {
  padding: 8px 20px;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 80%;
}

button:active {
  opacity: 60%;
}

.navbar {
  display: flex;
  background: black;
  color: white;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.link-style {
  padding: 8px;
  color: white;
  cursor: pointer;
}

.link-style:hover {
  opacity: 0.8;
}
